body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color:white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.25s;
}
button:hover {
  border-color: #646cff;
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 600px) {
  #addItem{
    margin-top: 20px;
  }
}